{
  "team": "CxServer",
  "additionalProperties": {
  "cxFlow": {
			"vulnerabilityScanners": ["sast"],
			"emails": ["akaaa92@gmail.com","akash.singh@checkmarx.com"]
    }
  },
  "emailNotifications": {
    "afterScan": [
      "akash.singh@checkmarx.com"
    ],
    "beforeScan": [
      "akash.singh@checkmarx.com"
    ],
    "failedScan": [
      "akash.singh@checkmarx.com"
    ]
  }
}
